
<h2>Resend confirmation instructions</h2>
<div class="well" >
<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>
<div class="row" >
  <div class="field col-xs-3">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "form-control" %> 
  </div>
</div>
  <div class="actions">
    <%= f.submit "Resend confirmation instructions", class: "btn btn-default" %>
  </div>
<% end %>
</div>
<%= render "devise/shared/links" %>
