<h2>Sign up</h2>
<div class="well">
    
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <div class="row">
        <div class="col-sm-9">
            <div id="user_type_selector" class="btn-group" data-toggle="buttons">
                <label id="active_label" class="btn btn-info">
                    <%= f.radio_button :type, "Individual"%> Individual
                </label> 
                <label class="btn btn-info">
                    <%= f.radio_button :type, "ArtEnthusiast" %> Art Enthusiast
        </label>
                </label> 
                <label class="btn btn-info">
                    <%= f.radio_button :type, "Business"%> Business
                </label>
            </div>
        </div>
    </div>
    <%= f.hidden_field :account_id, value: Account.default.id %>
    
    <div class='clear'></div>
    <div class="col-xs-2">
      <%= f.text_field :first_name, autofocus: true, placeholder: 'First Name', class: "form-control" %>
    </div>  
    <div class="col-xs-2">
      <%= f.text_field :last_name, autofocus: true, placeholder: 'Last Name', class: "form-control" %>
    </div>
    
    <div class='clear'></div>
    <div class="col-xs-3 dropdown">
      <%= f.select :category_id, options_from_collection_for_select(Category.all, 'id', 'titleized_name'), {prompt: 'Select Art Categry'}, {class: "form-control"} %>
    </div>
    
    <div class='clear'></div>
    <div class="col-xs-3">
      <%= f.email_field :email, autofocus: true, placeholder: 'Email', class: "form-control" %>
    </div>

    <div class='clear'></div>
    <div class="col-xs-3">
      <% if @minimum_password_length %>
      <!-- <em>(<%#= @minimum_password_length %> characters minimum)</em> -->
      <% end %>
      <%= f.password_field :password, autocomplete: "off", placeholder: 'Password', class: "form-control" %>
    </div>

    <div class='clear'></div>
    <div class="col-xs-3">
      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password Confirmation", class: "form-control" %>
    </div>
    <div class='clear'></div>
    <div class="col-xs-1">
      <%= f.submit "Join Now", class: "btn btn-primary" %>
    </div>
    <%= render "devise/shared/links" %>
  <% end %>
</div>

<script type="text/javascript">
  $('#user_type_selector label').click(function() {
    $(this).addClass('active').siblings().removeClass('active');
    this.firstElementChild.checked = "checked";
  });
</script>

<!-- <div class='clear'></div> -->
