<div class="fields">
	<%= f.text_field :name, placeholder: 'Organization Name' %><span class='asterisk'></span>
	<%= f.text_field :designation, placeholder: 'Designation' %><span class='asterisk'></span>
	<%= f.text_field :affiliation, placeholder: 'Affiliation/University' %>
	<%= f.date_field :start_date, placeholder: 'Start Date' %>
	<%= f.date_field :end_date, placeholder: 'End Date' %>
	<% if defined? org_type %>
		<%= f.hidden_field :organization_type, value: org_type %>
	<% else %>
		<%= f.hidden_field :organization_type %>
	<% end %>
	<%= f.hidden_field :_destroy %>
	<%= link_to_remove_fields "<span class='glyphicon glyphicon-minus'></span>".html_safe, f %>
</div>