<div class="col-sm-offset-3 col-md-offset-2 main">
	<%= form_for current_user, url: individual_user_profile_update_path(current_user), method: :put, id: 'profile_form' do |f| %>
	  <div class='btn-container'>
		  <%= f.submit 'Done', class: 'edit_profile btn btn-default' %>
		  <%= link_to 'Back', individual_user_profile_path(current_user), class: 'edit_profile btn btn-default'%>
		</div>
		<div class="clear"></div>

		<div class="profile_container">
			<div class="row">
				<div class="summary_block">
					<%= f.fields_for :display_information do |builder| %>
						<h4>Title</h4> 
						<%= builder.text_field :title, class: 'title', autofocus: true %>
						<div class="clear"></div>
						<h4>Summary</h4>
						<%= builder.text_area :summary, class: 'summary' %>
					<% end %>
				</div>
			</div>
		  <div class="row">
			  <h4 class='profile_block' id='education_block'>Education <span class="glyphicon glyphicon-menu-up"></span></h4>
	  		<div class="education_block profile_sub_block">
	        <%= f.fields_for :organizations do |builder| %>
            <%= render 'organization_fields', f: builder %>
			  	<% end if current_user.education_details.present? %>
          <%= link_to_add_fields "<span class='glyphicon glyphicon-plus'></span> Add New".html_safe, f, :organizations, 'school' %>
	  		</div>
		  </div>
		  <div class="row">
			  <h4 class='profile_block' id="experience_block">Experience <span class="glyphicon glyphicon-menu-up"></span></h4>
			  <div class="experience_block profile_sub_block">
	        <%= f.fields_for :organizations do |builder| %>
	          <%= render 'organization_fields', f: builder %>
			  	<% end if current_user.experience.present? %>
	        <%= link_to_add_fields "<span class='glyphicon glyphicon-plus'></span> Add New".html_safe, f, :organizations, 'company' %>
				</div>
		  </div>
		  <div class="row">
			  <h4 class='profile_block' id="cources_block" >Courses <span class="glyphicon glyphicon-menu-up"></span></h4>
			  <span class="text-muted">Something else</span>
		  </div>
		  <div class="row">
			  <h4 class='profile_block' id="skills_block" >Skills <span class="glyphicon glyphicon-menu-up"></span></h4>
			  <span class="text-muted">Something else</span>
		  </div>
		</div>
	<% end %>
</div>