<div class="col-sm-offset-3 col-md-offset-2 main">
	<div class='btn-container'>
		<%= link_to 'Edit', individual_user_profile_edit_path, class: 'edit_profile btn btn-default'%>
	</div>
	<div class="clear"></div>

	<div class="profile_container">
	 	<div class="row">
			<div class="summary_block">
				<h4>Title</h4> <fieldset class='title'><%= current_user.display_information.title rescue '-'%></fieldset>
				<div class="clear"></div>
				<h4>Summary</h4> <fieldset class='summary'><%= current_user.display_information.summary rescue '-'%></fieldset>
			</div>
	  </div>
	  <div class="row">
		  <h4 class='profile_block' id='education_block'>Education <span class="glyphicon glyphicon-menu-up"></span></h4>
	  		<div class="education_block profile_sub_block">
			  	<ul>
				  	<% current_user.education_details.each do |edu|%>
			  			<li>
					  		<label>School/College:</label> <span><%= edu.name || '-'%></span>
					  		<label>University:</label> <span><%= edu.affiliation || '-'%></span>
					  		<label>Duration:</label> <span><%= ("#{edu.start_date} - #{edu.end_date}") %></span>
			  			</li>
			  			<div class="clear"></div>
				  	<% end %>
			  	</ul>
	  		</div>
	  </div>
	  <div class="row">
		  <h4 class='profile_block' id="experience_block">Experience <span class="glyphicon glyphicon-menu-up"></span></h4>
		  <div class="experience_block profile_sub_block">
		  	<ul>
			  	<% current_user.experience.each do |org|%>
		  			<li>
				  		<label>Organization:</label> <span><%= org.name || '-'%></span>
				  		<label>Designation:</label> <span><%= org.designation || '-'%></span>
				  		<label>Duration:</label> <span><%= "#{org.start_date} - #{org.end_date}" %></span>
		  			</li>
		  			<div class="clear"></div>
			  	<% end %>
		  	</ul>
			</div>
	  </div>
	  <div class="row">
		  <h4 class='profile_block' id="cources_block" >Courses <span class="glyphicon glyphicon-menu-up"></span></h4>
		  <span class="text-muted">Something else</span>
	  </div>
	  <div class="row">
		  <h4 class='profile_block' id="skills_block" >Skills <span class="glyphicon glyphicon-menu-up"></span></h4>
		  <span class="text-muted">Something else</span>
	  </div>
	</div>
</div>