<h2>Forgot your password?</h2>
<div class="well" >
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>
<div class="row" >
  <div class="field col-xs-3">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>
 </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions", class: "btn btn-default" %>
  </div>
<% end %>
</div>
<%= render "devise/shared/links" %>
