  <div class="col-sm-3 col-md-2 sidebar">
		<%= link_to 'javascript:void(0)', class: 'edit_display_pic' do %>
	 		<span class='glyphicon glyphicon-edit'></span>
		<% end %>
  	<div class='display_pic'>
  		<%= render 'layouts/common/upload_profile_photo'%>
  	</div>
  	<div class='display_info'>
  		<div class="summary_block">
				<div class='title'><span class='glyphicon glyphicon-pencil'></span>
					<%= current_user.full_name rescue '-'%>
				</div>
				<div class="clear"></div>
				<div class='summary'><span class='glyphicon glyphicon-pencil'></span>
					<%= current_user.display_information.title rescue '-'%>
				</div>
			</div>
  	</div>
	  <ul class="nav nav-sidebar">
	    <li class="active"><%= link_to 'Home', individual_root_path %></li>
	    <li><%= link_to 'About Me', individual_user_profile_path(current_user) %></li>
	    <li><%= link_to 'Portfolio', individual_user_portfolios_path(current_user) %></li>
	    <li><%= link_to 'Connections', individual_user_connections_path(current_user) %></li>
	    <li><a href="#">Events</a></li>
	  </ul>
	</div>