<!-- <div class='display_pic'> -->
	<%= form_for :display_information, url: individual_user_profile_update_display_information_path(current_user), html: {id: 'display_information_update_form', multipart: true} do |f| %>
		<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
		<%= image_tag current_user.display_picture, size: "137x137", alt: '' %>
		<!-- <img src="/assets/bottom_banner_img_640.jpg"> -->
		<div class='btn-options'>
			<div class="fileUpload">
				<%= f.hidden_field :update_path, value: individual_user_profile_update_display_information_path(current_user) %>
				<%= f.file_field :profile_photo, class: 'choose_file', id: 'choose_display_pic' %>
			</div>
			<%= link_to '<span class="glyphicon glyphicon-trash">'.html_safe, 'javascript:void(0)', class: 'remove_file' %>
			<%= link_to "<span class='glyphicon glyphicon-remove'>".html_safe, 'javascript:void(0)', class: 'close_options' %>
		</div>
	<% end %>
<!-- </div> -->
