<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <!-- <h1 class="page-header">Dashboard</h1> -->

  <div class="row placeholders">
    <% @contacts.each do |contact| %>
      <div class="col-xs-6 col-sm-3 placeholder">
        <%= image_tag contact.display_picture, size: "137x137", alt: '', class: 'img-responsive' %>
        <h4><%= contact.full_name %></h4>
        <span class="text-muted"><%= contact.display_title %></span>
      </div>
    <% end %>
  </div>
  <div class='row placeholders'>
    <%= link_to 'View All', '#'%>
  </div>
  <hr/>

</div>  