<h2>Log In</h2>
<div class="well">
  <%= form_for resource, as: resource_name, url: session_path(resource_name), html: {class: ""} do |f| %>
  <%= devise_error_messages! %>
    <div class="col-xs-3">
      <%= f.email_field :email, autofocus: true, placeholder: 'Email', class: "form-control" %>
    </div>

    <div class='clear'></div>
    <div class="col-xs-3">
      <%= f.password_field :password, autocomplete: "off", placeholder: 'Password', class: "form-control" %>
    </div>

    <div class='clear'></div>
    <% if devise_mapping.rememberable? -%>
      <div class="col-xs-3">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div class='clear'></div>
    <div class="col-xs-1">
      <%= f.submit "Log in", class: "btn btn-primary" %>
    </div>
    <%= render "devise/shared/links" %>
  <% end %>
</div>

