@import "css/dashboard.css";

.individual-container{
	color: #282828;
}

form .fields{
	margin-bottom: 8px; 
}

.profile_sub_block{
	ul li{
		display: inline-block;
		list-style: none;
	}
	li{
		width: 100%;
		float: left;
	}
}

.summary_block{
 fieldset{
		border: 1px solid #B8B8B8;
		border-radius: 4px;
		width:50%;
		min-height:30px;
		margin-bottom: 15px;
	}
	.title, .summary{
		width: 50%;
		height: 30px;
		margin-bottom: 15px;
		border-radius: 4px;
	}
	.summary{
		height: 40px;
	}
}

.btn-container{
	display: inline-block;
	width:50%;
	.edit_profile{
		float: right;
		margin: 0px 5px;
	}
}

.profile_container{
	.row{
		margin: 0px !important;
		margin-top: 10px;
		margin-bottom: 10px;

	}
}

.edit_display_pic{
	z-index: 100;
	position: absolute;
	left: 152px;
}

.display_pic{
	width: 140px;
	height: 140px;
	margin: 0 0% 6% 4%; 
	border: 1px solid #ccc;
	img{
		width: 137px;
  	height: 137px;
	}
}

.btn-options{
	display: none;
	z-index: 100;
	top: 65px;
	left: 38px;
	position: absolute;
  a{
  	float: left;
		display: block;
		width: 14%;
		margin-right: 6px; 
		/*margin: 6px 0 0 6px;*/
	}
}

.fileUpload{
	width:14%;
  overflow: hidden;
	background: url(upload-icon-dark.png) no-repeat;
	float: left;
	margin-right: 6px;
	/*margin: 6px 0 0 6px;*/
	.choose_file{
	  cursor: pointer;
	  opacity: 0;
	  filter: alpha(opacity=0);
	}
}

