<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Creoyou</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "common" %>
</head>
<body>
<div id="main-container" class="container">
	<div class="row">
		<div id="sidebar" class="col-xs-3">
        	<h3>Creative You</h3>
        </div>
		<div id="content" class="col-xs-9">
        	<%= yield %>
        </div>
	</div>
</div>
</body>
</html>