<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>CreoYou Home</title>
    <%= javascript_include_tag 'application', 'common', 'individual/includes' %>
    <%= stylesheet_link_tag 'application', 'common', 'individual' %>
  </head>

  <body class="">

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">CreoYou</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a> Hi <%= current_user.full_name %></a></li>
            <li><a href="#">Settings</a></li>
            <li><%= link_to 'Logout', destroy_user_session_path, method: :get %></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid individual-container">
      <!-- <div class=""> -->
        <%= render 'layouts/common/sidelinks_individual' %>
        <%= yield %>
      <!-- </div> -->
    </div>

  </body>
</html>
